@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$primary-color: #ECEFF1;
$text-color-primary: #37474F;
$text-color-secondary: #0D47A1;
$navbar-bg:#CFD8DC;
$navbar-text:#37474F;

$font-stack-primary:"Open Sans",sans-serif;
$font-stack-secondary:"Nunito",sans-serif;

body
{
    font-family: $font-stack-primary;
    color:$text-color-primary;
    margin: 0;

    background-color: $primary-color;

}
h1
{
    font-family:$font-stack-secondary;
    margin: 0;
}

.center
{
    text-align: center;
}

.text-big
{
    font-size: 300%;
}

.bold
{
    font-weight: bold;
}

.img-medium
{
    height: 200px;
}

.nav
{
    ul
    {
    overflow: hidden;
    font-family:$font-stack-secondary;
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: $navbar-bg;
        a
        {
            display: inline-block;

            padding: 14px 16px;

            text-align: center;
            text-decoration: none;

            color: $navbar-text;
            transition-duration:.5s;
            transition-timing-function: linear;
        }
        a:hover
        {
            color: $navbar-bg;
            background-color: $navbar-text;
        }
    }
    li
    {
        float: left;
    }
}
/* ABOUT */

.about-article
{
    display: block;

    margin: 20px;
    padding: 10px;

    border: 1px solid $text-color-primary;
}
