@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');

$primary-color: #FBFBFB;
$text-color-primary: #161616;
$text-color-secondary: #0D47A1;
$text-color-primary-home: #212121;
$text-color-secondary-home: #F5F5F5;
$navbar-bg:#FBFBFB;
$navbar-text:#161616;

$font-stack-primary:"Open Sans",sans-serif;
$font-stack-secondary:"Nunito",sans-serif;
$font-stack-primary-home:"Lobster",cursive;
$font-stack-secondary-home:"Cabin",sans-serif;
$font-stack-sign:"Mr Dafoe",serif;

html
{
     background:url("/ui/bgimage1.png") no-repeat center center fixed;
    background-size:cover;
}

body
{
    margin:0;
    .heading-wrapper
    {
        margin-top:13%;
        .heading-title
        {
            font-size:4rem;
            font-family:$font-stack-primary-home;
            color:$text-color-primary-home;
            text-align:center;
        }
    
        .heading-caption
        {
            font-size:1.3rem;
            font-family:$font-stack-secondary-home;
            color:$text-color-primary-home;
            text-align:center;
            letter-spacing: 6px;
            margin-top:20px;
            text-transform: uppercase;
        }
        .heading-caption:after
        {
            width:60px;
            border:1px solid $text-color-primary-home;
            display:block;
            content:"";
            margin:0 auto;
            margin-top:10px;
        }
    }
    .links-nav
        {
            font-family: $font-stack-secondary-home;
            ul
            {
                list-style-type:none;
                margin-top:40px;
                margin-left: 24%;
                width:50%;
                li
                {
                    a
                    {
                        color:$text-color-primary-home;
                        text-decoration:none;
                        transition-timing-function: linear;
                        transition-duration: .5s;
                    }
                    a:hover
                    {
                        color:$primary-color;
                    }
                    display:inline;
                    font-size:1.2rem;
                    padding:10px;
                    border:3px solid $text-color-primary-home;
                    transition-timing-function: linear;
                    transition-duration: .5s;

                }
                li:hover
                {
                    background-color:$text-color-primary-home;
                    border:3px solid $text-color-primary-home;
                }
                li:nth-child(2)
                {
                    margin-left:26%;
                    margin-right:26%;
                    font-size:2rem;
                }
            }
        }
}

.nav
{
    .active
    {
        background-color:$text-color-primary;
        color:$primary-color;
        text-decoration:underline;
    }
    ul
    {
    overflow: hidden;
    font-family:$font-stack-secondary;
    margin: 0;
    padding: 0;
    border-bottom:2px solid $navbar-text;

    list-style-type: none;

    background-color: rgba($navbar-bg,1);
        a
        {
            display: inline-block;

            padding: 14px 16px;

            text-align: center;
            text-decoration: none;

            color: $navbar-text;
            transition-duration:.3s;
            transition-timing-function: ease-in-out;
        }
        a:hover
        {
            color: $navbar-bg;
            background-color: $navbar-text;
        }
    }
    li
    {
        float: left;
    }
}
/* ABOUT */

.container
{
    h1
    {
        text-align:center;
        font-family:$font-stack-secondary;
        margin: 0;
    }   
    h1:after
    {
        width:60px;
        border:1px solid $text-color-primary;
        display:block;
        content:"";
        margin:0 auto;
        margin-top:10px;
    }

    display: block;
    margin: 20px;
    padding: 10px;
    p
    {
        background:$primary-color;
        padding:20px;
        border:3px solid $text-color-primary;
        a
        {
            text-decoration:none;
            font-size:1rem;
            color:$text-color-secondary;
        }
        a:hover
        {
            text-decoration:overline;
        }
        .small
        {
            font-size:0.5rem;
        }
    }
    p:nth-child(2)
    {
        padding-left:50px;
    }
    ul
    {
        list-style-type:none;
        a
        {
            color:$text-color-primary;
            display:inline;
            transition-duration: 0.6s;
            transition-timing-function: ease-in;
        }
        a:hover
        {
            color:$text-color-secondary;
        }
        li
        {
            display:inline;
            padding:220px;
        }
    }

}
.footer-fixed
{
    bottom:0;
    position:fixed;
    right:0;
    padding-right:20px;
    width:100%;
    background:black;
    #signature
    {
        float:right;
        color:$primary-color;
        margin-left:20px;
        font-family:$font-stack-sign;
        font-size:1.2rem;
    }
}
