@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
html
{
    background: url('/ui/bgimage1.png') no-repeat center center fixed;
    background-size: cover;
}

body
{
    margin: 0;
}
body .heading-wrapper
{
    margin-top: 13%;
}
body .heading-wrapper .heading-title
{
    font-family: 'Lobster', cursive;
    font-size: 4rem;

    text-align: center; 

    color: #212121;
}
body .heading-wrapper .heading-caption
{
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem;

    margin-top: 20px;

    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase; 

    color: #212121;
}
body .heading-wrapper .heading-caption:after
{
    display: block;

    width: 60px;
    margin: 0 auto;
    margin-top: 10px; 

    content: '';

    border: 1px solid #212121;
}
body .links-nav
{
    font-family: 'Cabin', sans-serif;
}
body .links-nav ul
{
    width: 50%; 
    margin-top: 40px;
    margin-left: 30%;

    list-style-type: none;
}
body .links-nav ul li
{
    font-size: 1.2rem;

    display: inline;

    padding: 10px;

    transition-timing-function: linear;
    transition-duration: .5s; 

    border: 3px solid #212121;
}
body .links-nav ul li a
{
    transition-timing-function: linear;
    transition-duration: .5s; 
    text-decoration: none;

    color: #212121;
}
body .links-nav ul li a:hover
{
    color: #fbfbfb;
}
body .links-nav ul li:hover
{
    border: 3px solid #212121; 
    background-color: #212121;
}
body .links-nav ul li:nth-child(2)
{
    font-size: 2rem; 

    margin-right: 26%;
    margin-left: 26%;
}

.nav .active
{
    text-decoration: underline; 

    color: #fbfbfb;
    background-color: #161616;
}
.nav ul
{
    font-family: 'Nunito', sans-serif;

    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    border-bottom: 2px solid #161616;
    background-color: #fbfbfb;
}
.nav ul a
{
    display: inline-block;

    padding: 14px 16px;

    transition-timing-function: ease-in-out; 
    transition-duration: .3s;
    text-align: center;
    text-decoration: none;

    color: #161616;
}
.nav ul a:hover
{
    color: #fbfbfb;
    background-color: #161616;
}
.nav li
{
    float: left;
}

/* ABOUT */
.container
{
    display: block;

    margin: 20px;
    padding: 10px;
}
.container h1
{
    font-family: 'Nunito', sans-serif;

    margin: 0; 

    text-align: center;
}
.container h1:after
{
    display: block;

    width: 60px;
    margin: 0 auto;
    margin-top: 10px; 

    content: '';

    border: 1px solid #161616;
}
.container p
{
    padding: 20px;

    border: 3px solid #161616; 
    background: #fbfbfb;
}
.container p a
{
    font-size: 1rem;

    text-decoration: none;

    color: #0d47a1;
}
.container p a:hover
{
    text-decoration: overline;
}
.container p .small
{
    font-size: .5rem;
}
.container p:nth-child(2)
{
    padding-left: 50px;
}
.container ul
{
    list-style-type: none;
}
.container ul a
{
    display: inline;

    transition-timing-function: ease-in; 
    transition-duration: .6s;

    color: #161616;
}
.container ul a:hover
{
    color: #0d47a1;
}
.container ul li
{
    display: inline;

    padding: 220px;
}

.footer-fixed
{
    position: fixed;
    right: 0;
    bottom: 0;

    width: 100%;
    padding-right: 20px;

    background: black;
}
.footer-fixed #signature
{
    font-family: 'Mr Dafoe', serif;
    font-size: 1.2rem; 

    float: right;

    margin-left: 20px;

    color: #fbfbfb;
}

/*# sourceMappingURL=style.css.map */
