@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

$primary-color: #ECEFF1;
$text-color-primary: #37474F;
$text-color-secondary: #0D47A1;
$text-color-primary-home: #212121;
$text-color-secondary-home: #F5F5F5;
$navbar-bg:#CFD8DC;
$navbar-text:#37474F;

$font-stack-primary:"Open Sans",sans-serif;
$font-stack-secondary:"Nunito",sans-serif;
$font-stack-primary-home:"Lobster",cursive;
$font-stack-secondary-home:"Cabin",sans-serif;

html
{
     background:url("/ui/bgimage1.png") no-repeat center center fixed;
    background-size:cover;
}

body
{
    .heading-wrapper
    {
        margin-top:13%;
        .heading-title
        {
            font-size:4rem;
            font-family:$font-stack-primary-home;
            color:$text-color-primary-home;
            text-align:center;
        }
    
        .heading-caption
        {
            font-size:1.3rem;
            font-family:$font-stack-secondary-home;
            color:$text-color-primary-home;
            text-align:center;
            letter-spacing: 6px;
            margin-top:20px;
            text-transform: uppercase;
        }
        .heading-caption:after
        {
            width:60px;
            border:1px solid $text-color-primary-home;
            display:block;
            content:"";
            margin:0 auto;
            margin-top:10px;
        }
    }
    .links-nav
        {
            font-family: $font-stack-secondary-home;
            ul
            {
                list-style-type:none;
                margin-top:40px;
                margin-left: 24%;
                width:50%;
                li
                {
                    a
                    {
                        color:$text-color-primary-home;
                        text-decoration:none;
                        transition-timing-function: linear;
                        transition-duration: .5s;
                    }
                    a:hover
                    {
                        color:$primary-color;
                    }
                    display:inline;
                    font-size:1.2rem;
                    padding:10px;
                    border:3px solid $text-color-primary-home;
                    transition-timing-function: linear;
                    transition-duration: .5s;

                }
                li:hover
                {
                    background-color:$text-color-primary-home;
                    border:3px solid $text-color-primary-home;
                }
                li:nth-child(2)
                {
                    margin-left:26%;
                    margin-right:26%;
                    font-size:2rem;
                }
            }
        }
}
h1
{
    font-family:$font-stack-secondary;
    margin: 0;
}

.center
{
    text-align: center;
}

.text-big
{
    font-size: 300%;
}

.bold
{
    font-weight: bold;
}

.img-medium
{
    height: 200px;
}

.nav
{
    .active
    {
        background-color:$text-color-primary;
        color:$primary-color;
        text-decoration:underline;
    }
    ul
    {
    overflow: hidden;
    font-family:$font-stack-secondary;
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: $navbar-bg;
        a
        {
            display: inline-block;

            padding: 14px 16px;

            text-align: center;
            text-decoration: none;

            color: $navbar-text;
            transition-duration:.3s;
            transition-timing-function: ease-in-out;
        }
        a:hover
        {
            color: $navbar-bg;
            background-color: $navbar-text;
        }
    }
    li
    {
        float: left;
    }
}
/* ABOUT */

.about-article
{
    display: block;

    margin: 20px;
    padding: 10px;

    border: 1px solid $text-color-primary;
}
